<%- include('header') %>
  <div class="container">
        <div class="row">
            <h1>Password Category Lists</h1>
            <br>
         <table class="table table-striped table-primary">
          <thead>
            <tr>
              <th>Password Category Name</th>
        
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
           <% if(records.length >0){
            records.forEach(function(row){
            %>
            <tr>
              <td><%= row.passord_category %></td>
             
              <td><a class="btn btn-primary btn-xs" href="/passwordCategory/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-xs" href="/passwordCategory/delete/<%= row._id %>"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
            <%  }) } %>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('footer') %>